$gap: 12px;
$container-colour: #fff;

/* Clearfix */
.row {
    &:before {
        content: "";
        display: table;
        clear: both;
    }
    &:after {
        content: "";
        display: table;
        clear: both; 
    }
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    background-color: $container-colour;
    * {
        box-sizing: border-box;
    }
}

/* Column Width */
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: $gap;
}
.col-1 {
    width: 16.66%;
}
.col-2 {
    width: 33.33%;
}
.col-3 {
    width: 50%;
}
.col-4 {
    width: 66.664%;
}
.col-5 {
    width: 83.33;
}
.col-full {
    width: 100%;
}

@include media(">phone", "<tablet") {
    .col-1{ width: 33.33%; }
    .col-2{ width: 50%; }
    .col-3{ width: 83.33%; }
    .col-4{ width: 100%; }
    .col-5{ width: 100%; }
    .col-full{ width: 100%; }

    .row .col-2:last-of-type{
        width: 100%;
    }

    .row .col-5 ~ .col-1{
        width: 100%;
    }
}

@include media("<phone") {
    .col-1{ width: 50%; }
    .col-2{ width: 100%; }
    .col-3{ width: 100%; }
    .col-4{ width: 100%; }
    .col-5{ width: 100%; }
    .col-full{ width: 100%; }
}