$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Font Sizes */
.size-biggest {
    font-size: 3rem;
}
.size-bigger {
    font-size: 2.5rem;
}
.size-big {
    font-size: 2rem;
}
.size-medium {
    font-size: 1.5rem;
}
.size-small {
    font-size: 1.25rem;
}
.size-smaller {
    font-size: 1rem;
}
.size-smallest {
    font-size: 0.75rem;
}

/* Alignment */
.al-center {
    text-align: center;
}
.al-justified {
    text-align: justify;
}
.al-left {
    text-align: left;
}
.al-right {
    text-align: right;
}

/*Text Transform */
.cap {
    text-transform: capitalize;
}
.lcase {
    text-transform: lowercase;
}
.ucase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}

/* Text Weight */
.lightweight {
    font-weight: 200;
}
.mediumweight {
    font-weight: 400;
}
.boldweight {
    font-weight: 700;
}

body {
    font: 100% $font-stack;
}